#hero,
#enemy {
  position: fixed;
}

#hero {
  left: 0;
  bottom: -40px;
}

#enemy {
  right: 0;
  bottom: -50px;
}

#score,
#cast-dice {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

#controls {
  text-align: center;
}

#hit {
  color: #ffffff;
  font-size: 3em;
  text-align: center;
}

#outcome {
  text-align: center;
  font-size: 5em;
}
