@font-face {
  font-family: Malignant;
  src: url('assets/fonts/malignant.ttf');
}

h1 {
  font-family: Malignant;
  font-size: 6em;
  color: #770d0d;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0.1em auto;
  position: fixed;
  top: 0;
  width: 100%;
}
